/* style.css */



.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 1531px;
}

h2 {
    margin-bottom: 20px;
}

.table-responsive {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table img {
    max-width: 100px;
    border-radius: 4px;
}

.modal-content {
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: #ffffff;
}

.pagination button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}


.form-control{
    max-width: 241px;
}

.custom-hidden {
    display: none !important;
}


.spinner-border{
    border-right-color: #00f941
}